<div class="container">
  <div class="row col-4 flex-row">
    <div class="card" style="width: 18rem;">
      <img src="{{hamada.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{hamada.title}}</h5>
        <p class="card-text">{{hamada.description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
